
/* #a100c9  */
.btn-outline-pink {
    --bs-btn-color: #1fab12 !important;
    --bs-btn-border-color: #1fab12 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #1fab12 !important;
    --bs-btn-hover-border-color: #1fab12 !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #1fab12 !important;
    --bs-btn-active-border-color: #1fab12 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #1fab12 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #1fab12 !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 #1fab12, 0 1px 2px 0 #117c07 !important;
}

/* Force gradient on active state */
.btn-outline-pink:active,
.btn-outline-pink.active,
.btn-outline-pink:hover {
    background-image: linear-gradient(to bottom right, #1fab12, #127709) !important;
    color: black !important;
}


.btn-outline-blue {
    --bs-btn-color: rgb(64 40 147)  !important;
    --bs-btn-border-color: rgb(64 40 147)  !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: rgb(64 40 147)  !important;
    --bs-btn-hover-border-color: rgb(64 40 147)  !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: rgb(64 40 147)  !important;
    --bs-btn-active-border-color: rgb(64 40 147)  !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: rgb(64 40 147)  !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: rgb(64 40 147)  !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 1px 0 rgb(64 40 147) , 0 1px 1px 0 rgb(64, 47, 125) !important;
}

.btn-outline-orange {
    --bs-btn-color: rgb(242, 177, 13) !important;
    --bs-btn-border-color: rgb(242, 177, 13) !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: rgb(242, 177, 13) !important;
    --bs-btn-hover-border-color: rgb(242, 177, 13) !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: rgb(242, 177, 13) !important;
    --bs-btn-active-border-color: rgb(242, 177, 13) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: rgb(242, 177, 13) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: rgb(242, 177, 13) !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 rgb(246, 204, 99), 0 1px 2px 0 rgb(250, 203, 85) !important;
}

/* Force gradient on active state */
.btn-outline-orange:active,
.btn-outline-orange.active,
.btn-outline-orange:hover {
    background-image: linear-gradient(to bottom right, rgb(242, 177, 13), rgb(152, 112, 12)) !important;
    color: black !important;
}

/* rgb(242, 120, 13) */
.btn-outline-purple {
    --bs-btn-color:  rgb(218 18 18 / 90%)  !important;
    --bs-btn-border-color: rgb(218 18 18 / 90%) !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: rgb(218 18 18 / 90%) !important;
    --bs-btn-hover-border-color: rgb(218 18 18 / 90%) !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: rgb(218 18 18 / 90%) !important;
    --bs-btn-active-border-color: rgb(218 18 18 / 90%)!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: rgb(218 18 18 / 90%) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: rgb(218 18 18 / 90%) !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 rgb(218 18 18 / 90%), 0 1px 2px 0 rgba(170, 10, 10, 0.9) !important;
}
/* Force gradient on active state */
.btn-outline-purple:active,
.btn-outline-purple.active,
.btn-outline-purple:hover {
    background-image: linear-gradient(to bottom right, rgb(218 18 18 / 90%), rgba(152, 9, 9, 0.9)) !important;
    color: black !important;
}

.btn-outline-green {
    --bs-btn-color: #0a88c2 !important;
    --bs-btn-border-color: #0a88c2 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #0a88c2 !important;
    --bs-btn-hover-border-color: #0a88c2 !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #0a88c2 !important;
    --bs-btn-active-border-color: #0a88c2 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #0a88c2 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #0a88c2 !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 #0a88c2, 0 1px 2px 0 #05618b !important;
}
/* Force gradient on active state */
.btn-outline-green:active,
.btn-outline-green.active,
.btn-outline-green:hover {
    background-image: linear-gradient(to bottom right, #0a88c2, #054c6d) !important;
    color: black !important;
}


