.highlight-container  {
    padding: 12px;
    border-radius: 1.5rem;
    border: 1px solid #222;
    background-color: #111;
    box-shadow: 0 1px 2px 0 rgb(2 7 49 / 79%), 0 1px 2px 0 rgb(7 16 98);
}

.speed-slider {
    width: 100%;
    /* accent-color: rgb(64 40 147); */
}

.pad-button-alignment {
    margin-top: 0;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.success-blue {
    border: 1px solid #222 !important;
    background-color: #111 !important;
    box-shadow: 0 2px 3px 0 rgb(2 7 49 / 90%), 0 2px 3px 0 rgb(7 16 98);
}