.highlight-container  {
    /* background: rgb(201 197 197 / 8%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2); */
    padding: 12px;
    border-radius: 1.5rem;
    border: 1px solid #222;
    background-color: #111;
    box-shadow: 0 1px 2px 0 rgb(2 7 49 / 79%), 0 1px 2px 0 rgb(7 16 98);
}

.speed-slider {
    width: 100%;
    /* accent-color: rgb(64 40 147); */
}


.select-option {
    /* background: black; */
    color: white !important;
    background: black !important;
}

.dj-select-form {
    border: 1px solid white !important;
    /* background: black !important; */
}

.select-title {
    background: none !important;
    color: white !important;
}

.pad-button-alignment {
    margin-top: 0;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* #a100c9  */
.btn-outline-pink {
    --bs-btn-color: #1fab12 !important;
    --bs-btn-border-color: #1fab12 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #1fab12 !important;
    --bs-btn-hover-border-color: #1fab12 !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #1fab12 !important;
    --bs-btn-active-border-color: #1fab12 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #1fab12 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #1fab12 !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 #1fab12, 0 1px 2px 0 #117c07 !important;
}

/* Force gradient on active state */
.btn-outline-pink:active,
.btn-outline-pink.active,
.btn-outline-pink:hover {
    background-image: linear-gradient(to bottom right, #1fab12, #127709) !important;
    color: black !important;
}


.btn-outline-blue {
    --bs-btn-color: rgb(64 40 147)  !important;
    --bs-btn-border-color: rgb(64 40 147)  !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: rgb(64 40 147)  !important;
    --bs-btn-hover-border-color: rgb(64 40 147)  !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: rgb(64 40 147)  !important;
    --bs-btn-active-border-color: rgb(64 40 147)  !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: rgb(64 40 147)  !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: rgb(64 40 147)  !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 1px 0 rgb(64 40 147) , 0 1px 1px 0 rgb(64, 47, 125) !important;
}

/* Force gradient on active state */
/* .btn-outline-blue:active,
.btn-outline-blue.active,
.btn-outline-blue:hover {
    background-image: linear-gradient(to bottom right, rgb(53, 12, 200), rgb(13, 78, 242)) !important;
    color: black !important;
} */

.btn-outline-orange {
    --bs-btn-color: rgb(242, 177, 13) !important;
    --bs-btn-border-color: rgb(242, 177, 13) !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: rgb(242, 177, 13) !important;
    --bs-btn-hover-border-color: rgb(242, 177, 13) !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: rgb(242, 177, 13) !important;
    --bs-btn-active-border-color: rgb(242, 177, 13) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: rgb(242, 177, 13) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: rgb(242, 177, 13) !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 rgb(246, 204, 99), 0 1px 2px 0 rgb(250, 203, 85) !important;
}

/* Force gradient on active state */
.btn-outline-orange:active,
.btn-outline-orange.active,
.btn-outline-orange:hover {
    background-image: linear-gradient(to bottom right, rgb(242, 177, 13), rgb(152, 112, 12)) !important;
    color: black !important;
}

/* rgb(242, 120, 13) */
.btn-outline-purple {
    --bs-btn-color:  rgb(218 18 18 / 90%)  !important;
    --bs-btn-border-color: rgb(218 18 18 / 90%) !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: rgb(218 18 18 / 90%) !important;
    --bs-btn-hover-border-color: rgb(218 18 18 / 90%) !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: rgb(218 18 18 / 90%) !important;
    --bs-btn-active-border-color: rgb(218 18 18 / 90%)!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: rgb(218 18 18 / 90%) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: rgb(218 18 18 / 90%) !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 rgb(218 18 18 / 90%), 0 1px 2px 0 rgba(170, 10, 10, 0.9) !important;
}
/* Force gradient on active state */
.btn-outline-purple:active,
.btn-outline-purple.active,
.btn-outline-purple:hover {
    background-image: linear-gradient(to bottom right, rgb(218 18 18 / 90%), rgba(152, 9, 9, 0.9)) !important;
    color: black !important;
}

.btn-outline-green {
    --bs-btn-color: #0a88c2 !important;
    --bs-btn-border-color: #0a88c2 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #0a88c2 !important;
    --bs-btn-hover-border-color: #0a88c2 !important;
    --bs-btn-focus-shadow-rgb: 13, 202, 240 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #0a88c2 !important;
    --bs-btn-active-border-color: #0a88c2 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #0a88c2 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #0a88c2 !important;
    --bs-gradient: none !important;
    box-shadow: 0 1px 2px 0 #0a88c2, 0 1px 2px 0 #05618b !important;
}
/* Force gradient on active state */
.btn-outline-green:active,
.btn-outline-green.active,
.btn-outline-green:hover {
    background-image: linear-gradient(to bottom right, #0a88c2, #054c6d) !important;
    color: black !important;
}

.success-green {
    box-shadow: 0 1px 2px 0 #33da8c, 0 1px 2px 0 #0e643c !important;
}
/* Force gradient on active state */
.success-green:active,
.success-green.active,
.success-green:hover {
    background-image: linear-gradient(to bottom right, #198754, #157247) !important;
    color: black !important;
}

.danger-red {
    box-shadow: 0 1px 2px 0 #dc3545, 0 1px 2px 0 #72121c !important;
}
/* Force gradient on active state */
.danger-red:active,
.danger-red.active,
.danger-red:hover {
    background-image: linear-gradient(to bottom right, #dc3545, #921a26) !important;
    color: black !important;
}


.success-blue {
    border: 1px solid #222 !important;
    background-color: #111 !important;
    box-shadow: 0 2px 3px 0 rgb(2 7 49 / 90%), 0 2px 3px 0 rgb(7 16 98);
}


